<script>
export default {
  name: 'ContentBlock',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="content-block">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="12">
          <SlpTypography tag="h2" variant="heading2-bold">
            {{ data.header }}
          </SlpTypography>
          <div class="text" v-html="$md.render(data.text)"></div>
          <SlpButton
            v-if="data.link"
            variant="primary"
            :href="data.link.link_url"
            :data-ga-name="data.link.data_ga_name"
            :data-ga-location="data.link.data_ga_location"
          >
            {{ data.link.link_text }}
          </SlpButton>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.content-block {
  margin-top: $spacing-96;
  margin-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    margin: $spacing-48 0;
  }
}

h2 {
  margin-bottom: $spacing-8;
}

.text {
  margin-top: $spacing-32;
}
.text ::v-deep {
  & > p {
    font-size: $text-body-2;
    margin: $spacing-16 0;
  }
}
</style>
