<script lang="ts">
import Vue from 'vue';
import * as ld from 'launchdarkly-js-client-sdk';

export default Vue.extend({
  name: 'LaunchDarkly',
  props: {
    featureFlag: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      runExperiment: 0,
      client: null,
    };
  },
  async beforeMount() {
    const queryParams = this.$route.query;

    if (
      queryParams['override-experiment'] ||
      queryParams['override-experiment'] === null
    ) {
      console.log('Override experiment');
      this.runExperiment =
        queryParams['override-experiment'] !== null &&
        !Number.isNaN(queryParams['override-experiment'])
          ? Number(queryParams['override-experiment'])
          : 1;
      this.loading = false;
      console.log(`Run experiment: ${this.runExperiment}`);
    } else if (queryParams['override-control'] === null) {
      this.runExperiment = 0;
      this.loading = false;
      console.log('Run control');
    } else {
      const clientSideIDs: { [key: string]: string } = {
        dev: '620c3008ff3d1512c4f496a3',
        test: '620c2f247f24eb0c056e3a8b',
        production: '620c2f247f24eb0c056e3a8c',
      };
      // We could explore using anonomous users in the future according to SDK docs
      const user: ld.LDUser = { key: 'aa0ceb' };

      if (!this.client) {
        // Runs only if client has not already been initialized
        this.client = ld.initialize(clientSideIDs.production, user, {
          bootstrap: this.featureFlag,
        }); // LDClient must remain a singleton
        this.runExperiment = await this.client
          .waitForInitialization()
          .then(() => this.client.variation(this.featureFlag, 0))
          .catch(() => 0) // Show control if promise fails
          .finally(() => {
            this.loading = false;
          });
      }
    }
  },
  mounted() {
    if (!(this.$slots.control && this.$slots.experiment)) {
      // eslint-disable-next-line no-console
      console.warn(
        `Must have 'control' and 'experiement' named slots in LaunchDarkly component in ${this.$parent.$options.name}`,
      );
    }
  },
});
</script>

<template>
  <div :class="{ hidden: loading }">
    <slot v-if="runExperiment === 2" name="experiment-two"></slot>
    <slot v-else-if="runExperiment === 1" name="experiment"></slot>
    <slot v-else name="control"></slot>
  </div>
</template>

<style scoped>
.hidden {
  opacity: 0;
}
</style>
