<script>
import LaunchDarkly from '../components/common/launch-darkly.vue';

export default {
  components: {
    LaunchDarkly,
  },
};
</script>

<template>
  <LaunchDarkly feature-flag="roi-calculator">
    <template #control>
      <SlpButton href="/">Control</SlpButton>
    </template>
    <template #experiment>
      <SlpButton>Experiment One</SlpButton>
    </template>
    <template #experiment-two>
      <SlpButton>Experiment Two</SlpButton>
    </template>
  </LaunchDarkly>
</template>
