<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Accordion',
  props: {
    data: {
      required: true,
      type: Object,
    },
    isOpen: {
      required: true,
      type: Boolean,
    },
  },
  computed: {
    accordionID() {
      return this.data.header.toLowerCase().split(' ').join('');
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
  },
});
</script>

<template>
  <div
    class="accordion"
    :data-toggle-group="data.header"
    :data-ga-toggle="isOpen ? 'expand' : 'collapse'"
  >
    <div class="accordion__summary">
      <button
        :id="accordionID + 'id'"
        class="accordion__button"
        :aria-label="(isOpen ? 'collapse' : 'expand') + data.header"
        :aria-expanded="`${isOpen}`"
        :aria-controls="accordionID + 'section'"
        @click="toggleAccordion"
      >
        <SlpTypography tag="h3" variant="heading5-bold">
          <slot name="header"></slot>
        </SlpTypography>
        <span
          class="accordion__icon"
          :class="{ 'accordion__icon--open': isOpen }"
        ></span>
      </button>
    </div>
    <div
      v-show="isOpen"
      :id="accordionID + 'section'"
      class="content-container"
      role="region"
    >
      <slot name="content"></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &:first-of-type {
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
  }

  &__summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-16;
    padding-bottom: 20px;
    border-top: 1px solid $color-surface-300;
  }

  .content-container {
    padding: 0 0 $spacing-32 0;
  }

  &__icon {
    height: 18px;
    width: 18px;
    position: relative;
    transition: transform 0.4s ease-in-out;
    margin-left: $spacing-4;
    &--open {
      transform: rotate(90deg);
      &:after {
        opacity: 0;
      }
    }
    &:before,
    &:after {
      content: '';
      background-color: black;
      position: absolute;
      display: block;
    }
    &:before {
      height: 18px;
      width: 2px;
      left: 50%;
    }
    &:after {
      height: 18px;
      width: 2px;
      transform: rotate(-90deg);
      top: 50%;
      transform-origin: top;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__button {
    width: 100%;
    border: 0;
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    font-weight: $font-weight-bold;
    margin-top: $spacing-4;

    h3 {
      text-align: left;
    }
  }
}
</style>
